:root {
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --background-color: #fff;
    --page-width: 60em;
    --font-color: #151515;
    --invert-font-color: #fff;
    --primary-color: #1a95e0;
    --secondary-color: #727578;
    --error-color: #d20962;
    --progress-bar-background: #727578;
    --progress-bar-fill: #151515;
    --code-bg-color: #e8eff2;
    --input-style: solid;
    --display-h1-decoration: none;
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-rendering: geometricPrecision;
  }
  
  *::-moz-selection {
    background: var(--primary-color);
    color: var(--invert-font-color);
  }
  
  *::selection {
    background: var(--primary-color);
    color: var(--invert-font-color);
  }
  
  .terminal {
    font-size: var(--global-font-size);
    color: var(--font-color);
    line-height: var(--global-line-height);
    font-family: var(--font-stack);
    word-wrap: break-word;
    background-color: var(--background-color);
  }
  .terminal h1,
  .terminal h2,
  .terminal h3,
  .terminal h4,
  .terminal h5,
  .terminal h6,
  .terminal .logo {
    line-height: var(--global-line-height);
  }
  .terminal a {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
  }
  .terminal a:hover {
    background-color: var(--primary-color);
    color: var(--invert-font-color);
  }
  .terminal em {
    font-size: var(--global-font-size);
    font-style: italic;
    font-family: var(--font-stack);
    color: var(--font-color);
  }
  .terminal blockquote,
  .terminal code,
  .terminal em,
  .terminal strong {
    line-height: var(--global-line-height);
  }
  .terminal h1,
  .terminal .logo {
    position: relative;
    display: inline-block;
    display: table-cell;
    padding: calc(var(--global-space) / 2) 0 calc(var(--global-space) / 2);
    margin: 0;
    overflow: hidden;
    font-weight: 600;
  }
  .terminal h1::after {
    content: "====================================================================================================";
    position: absolute;
    bottom: 5px;
    left: 0;
    display: var(--display-h1-decoration);
  }
  .terminal h1 + *,
  .terminal .logo + * {
    margin-top: 0;
  }
  .terminal h2,
  .terminal h3,
  .terminal h4,
  .terminal h5,
  .terminal h6 {
    position: relative;
    font-weight: 600;
  }
  .terminal blockquote {
    position: relative;
    padding-left: calc(var(--global-space) * 2);
    padding-left: 2ch;
    overflow: hidden;
  }
  .terminal blockquote::after {
    content: ">\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>";
    white-space: pre;
    position: absolute;
    top: 0;
    left: 0;
    line-height: var(--global-line-height);
    color: #9ca2ab;
  }
  .terminal code {
    font-weight: inherit;
    background-color: var(--code-bg-color);
    font-family: var(--mono-font-stack);
  }
  .terminal code::after,
  .terminal code::before {
    content: "`";
    display: inline;
  }
  .terminal pre code::after,
  .terminal pre code::before {
    content: "";
  }
  .terminal pre {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    color: var(--secondary-color);
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    padding: var(--global-space);
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
  }
  .terminal pre code {
    overflow-x: scroll;
    padding: 0;
    margin: 0;
    display: inline-block;
    min-width: 100%;
    font-family: var(--mono-font-stack);
  }
  .terminal .terminal blockquote,
  .terminal .terminal code,
  .terminal .terminal h1,
  .terminal .terminal h2,
  .terminal .terminal h3,
  .terminal .terminal h4,
  .terminal .terminal h5,
  .terminal .terminal h6,
  .terminal .terminal strong,
  .terminal .terminal .logo {
    font-size: var(--global-font-size);
    font-style: normal;
    font-family: var(--font-stack);
    color: var(--font-color);
  }
  .terminal .terminal-prompt {
    position: relative;
    white-space: nowrap;
  }
  .terminal .terminal-prompt::before {
    content: "> ";
  }
  .terminal .terminal-prompt::after {
    content: "";
    -webkit-animation: cursor 800ms infinite;
            animation: cursor 800ms infinite;
    background: var(--primary-color);
    border-radius: 0;
    display: inline-block;
    height: 1em;
    margin-left: 0.2em;
    width: 3px;
    bottom: -2px;
    position: relative;
  }
  @-webkit-keyframes cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .terminal li,
  .terminal li > ul > li {
    position: relative;
    display: block;
    padding-left: calc(var(--global-space) * 2);
  }
  .terminal nav > ul > li {
    padding-left: 0;
  }
  .terminal li::after {
    position: absolute;
    top: 0;
    left: 0;
  }
  .terminal ul > li::after {
    content: "-";
  }
  .terminal nav ul > li::after {
    content: "";
  }
  .terminal ol li::before {
    content: counters(item, ".") ". ";
    counter-increment: item;
  }
  .terminal ol ol li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }
  .terminal .terminal-menu li::after,
  .terminal .terminal-menu li::before {
    display: none;
  }
  .terminal ol {
    counter-reset: item;
  }
  .terminal ol li:nth-child(n+10)::after {
    left: -7px;
  }
  .terminal ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  .terminal .terminal-menu {
    width: 100%;
  }
  .terminal .terminal-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .terminal ul ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .terminal .terminal-menu ul {
    list-style-type: none;
    padding: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: var(--global-font-size);
    margin-top: 0;
  }
  .terminal .terminal-menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0.5em 0;
    padding: 0;
  }
  .terminal ol.terminal-toc li {
    border-bottom: 1px dotted var(--secondary-color);
    padding: 0;
    margin-bottom: 15px;
  }
  .terminal .terminal-menu li:last-child {
    margin-bottom: 0;
  }
  .terminal ol.terminal-toc li a {
    margin: 4px 4px 4px 0;
    background: var(--background-color);
    position: relative;
    top: 6px;
    text-align: left;
    padding-right: 4px;
  }
  .terminal .terminal-menu li a:not(.btn) {
    text-decoration: none;
    display: block;
    width: 100%;
    border: none;
    color: var(--secondary-color);
  }
  .terminal .terminal-menu li a.active {
    color: var(--font-color);
  }
  .terminal .terminal-menu li a:hover {
    background: none;
    color: inherit;
  }
  .terminal ol.terminal-toc li::before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    position: absolute;
    right: 0;
    background: var(--background-color);
    padding: 4px 0 4px 4px;
    bottom: -8px;
  }
  .terminal ol.terminal-toc li a:hover {
    background: var(--primary-color);
    color: var(--invert-font-color);
  }
  .terminal hr {
    position: relative;
    overflow: hidden;
    border: 0;
    border-bottom: 1px dashed var(--secondary-color);
  }
  .terminal p {
    color: var(--global-font-color);
  }
  .terminal .container-terminal {
    max-width: var(--page-width);
  }
  .terminal .container-terminal,
  .terminal .container-fluid {
    margin: 0 auto;
    padding: 0 calc(var(--global-space) * 2);
  }
  .terminal img {
    width: 100%;
  }
  .terminal .progress-bar {
    height: 8px;
    background-color: var(--progress-bar-background);
    margin: 12px 0;
  }
  .terminal .progress-bar.progress-bar-show-percent {
    margin-top: 38px;
  }
  .terminal .progress-bar-filled {
    background-color: var(--progress-bar-fill);
    height: 100%;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    position: relative;
    width: 0;
  }
  .terminal .progress-bar-filled::before {
    content: "";
    border: 6px solid transparent;
    border-top-color: var(--progress-bar-fill);
    position: absolute;
    top: -12px;
    right: -6px;
  }
  .terminal .progress-bar-filled::after {
    color: var(--progress-bar-fill);
    content: attr(data-filled);
    display: block;
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    border: 6px solid transparent;
    top: -38px;
    right: 0;
    -ms-transform: translateX(50%);
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .terminal .progress-bar-no-arrow > .progress-bar-filled::before,
  .terminal .progress-bar-no-arrow > .progress-bar-filled::after {
    content: "";
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .terminal table {
    width: 100%;
    border-collapse: collapse;
    margin: var(--global-line-height) 0;
    color: var(--font-color);
    font-size: var(--global-font-size);
  }
  .terminal table td,
  .terminal table th {
    vertical-align: top;
    border: 1px solid var(--font-color);
    line-height: var(--global-line-height);
    padding: calc(var(--global-space) / 2);
    font-size: 1em;
  }
  .terminal table thead th {
    font-size: 1em;
  }
  .terminal table tfoot tr th {
    font-weight: 500;
  }
  .terminal table caption {
    font-size: 1em;
    margin: 0 0 1em 0;
  }
  .terminal table tbody td:first-child {
    font-weight: 700;
    color: var(--secondary-color);
  }
  .terminal .form {
    width: 100%;
  }
  .terminal fieldset {
    border: 1px solid var(--font-color);
    padding: 1em;
  }
  .terminal label {
    font-size: 1em;
    color: var(--font-color);
  }
  .terminal input[type=email],
  .terminal input[type=text],
  .terminal input[type=number],
  .terminal input[type=password],
  .terminal input[type=search] {
    border: 1px var(--input-style) var(--font-color);
    width: 100%;
    padding: 0.7em 0.5em;
    font-size: 1em;
    font-family: var(--font-stack);
    -webkit-appearance: none;
    border-radius: 0;
  }
  .terminal input[type=email]:active,
  .terminal input[type=text]:active,
  .terminal input[type=number]:active,
  .terminal input[type=password]:active,
  .terminal input[type=search]:active,
  .terminal input[type=email]:focus,
  .terminal input[type=text]:focus,
  .terminal input[type=number]:focus,
  .terminal input[type=password]:focus,
  .terminal input[type=search]:focus {
    outline: none;
    -webkit-appearance: none;
    border: 1px solid var(--font-color);
  }
  .terminal input[type=text]:not(:-moz-placeholder-shown):invalid, .terminal input[type=email]:not(:-moz-placeholder-shown):invalid, .terminal input[type=password]:not(:-moz-placeholder-shown):invalid, .terminal input[type=search]:not(:-moz-placeholder-shown):invalid, .terminal input[type=number]:not(:-moz-placeholder-shown):invalid {
    border-color: var(--error-color);
  }
  .terminal input[type=text]:not(:-ms-input-placeholder):invalid, .terminal input[type=email]:not(:-ms-input-placeholder):invalid, .terminal input[type=password]:not(:-ms-input-placeholder):invalid, .terminal input[type=search]:not(:-ms-input-placeholder):invalid, .terminal input[type=number]:not(:-ms-input-placeholder):invalid {
    border-color: var(--error-color);
  }
  .terminal input[type=text]:not(:placeholder-shown):invalid,
  .terminal input[type=email]:not(:placeholder-shown):invalid,
  .terminal input[type=password]:not(:placeholder-shown):invalid,
  .terminal input[type=search]:not(:placeholder-shown):invalid,
  .terminal input[type=number]:not(:placeholder-shown):invalid {
    border-color: var(--error-color);
  }
  .terminal input,
  .terminal textarea {
    color: var(--font-color);
    background-color: var(--background-color);
  }
  .terminal input::-webkit-input-placeholder, .terminal textarea::-webkit-input-placeholder {
    color: var(--secondary-color) !important;
    opacity: 1;
  }
  .terminal input::-moz-placeholder, .terminal textarea::-moz-placeholder {
    color: var(--secondary-color) !important;
    opacity: 1;
  }
  .terminal input:-ms-input-placeholder, .terminal textarea:-ms-input-placeholder {
    color: var(--secondary-color) !important;
    opacity: 1;
  }
  .terminal input::-ms-input-placeholder, .terminal textarea::-ms-input-placeholder {
    color: var(--secondary-color) !important;
    opacity: 1;
  }
  .terminal input::placeholder,
  .terminal textarea::placeholder {
    color: var(--secondary-color) !important;
    opacity: 1;
  }
  .terminal textarea {
    height: auto;
    width: 100%;
    resize: none;
    border: 1px var(--input-style) var(--font-color);
    padding: 0.5em;
    font-size: 1em;
    font-family: var(--font-stack);
    -webkit-appearance: none;
    border-radius: 0;
  }
  .terminal textarea:focus {
    outline: none;
    -webkit-appearance: none;
    border: 1px solid var(--font-color);
  }
  .terminal textarea:not(:-moz-placeholder-shown):invalid {
    border-color: var(--error-color);
  }
  .terminal textarea:not(:-ms-input-placeholder):invalid {
    border-color: var(--error-color);
  }
  .terminal textarea:not(:placeholder-shown):invalid {
    border-color: var(--error-color);
  }
  .terminal input:-webkit-autofill,
  .terminal input:-webkit-autofill:hover,
  .terminal input:-webkit-autofill:focus textarea:-webkit-autofill,
  .terminal textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  .terminal select:-webkit-autofill,
  .terminal select:-webkit-autofill:hover,
  .terminal select:-webkit-autofill:focus {
    border: 1px solid var(--font-color);
    -webkit-text-fill-color: var(--font-color);
    box-shadow: 0 0 0 1000px var(--invert-font-color) inset;
    -webkit-box-shadow: 0 0 0 1000px var(--invert-font-color) inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
  .terminal .form-group {
    margin-bottom: var(--global-line-height);
    overflow: auto;
  }
  .terminal .btn {
    border-style: solid;
    border-width: 1px;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    cursor: pointer;
    outline: none;
    padding: 0.65em 2em;
    font-size: 1em;
    font-family: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1;
  }
  .terminal .btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .terminal .btn.btn-ghost {
    border-color: var(--font-color);
    color: var(--font-color);
    background-color: transparent;
  }
  .terminal .btn.btn-ghost:focus,
  .terminal .btn.btn-ghost:hover {
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
    z-index: 2;
  }
  .terminal .btn.btn-ghost:hover {
    background-color: transparent;
  }
  .terminal .btn-block {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
  .terminal .btn-default {
    background-color: var(--font-color);
    border-color: var(--invert-font-color);
    color: var(--invert-font-color);
  }
  .terminal .btn-default:hover,
  .terminal .btn-default:focus:not(.btn-ghost) {
    background-color: var(--secondary-color);
    color: var(--invert-font-color);
  }
  .terminal .btn-default.btn-ghost:focus,
  .terminal .btn-default.btn-ghost:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    z-index: 2;
  }
  .terminal .btn-error {
    color: var(--invert-font-color);
    background-color: var(--error-color);
    border: 1px solid var(--error-color);
  }
  .terminal .btn-error:hover,
  .terminal .btn-error:focus:not(.btn-ghost) {
    background-color: var(--error-color);
    border-color: var(--error-color);
  }
  .terminal .btn-error.btn-ghost {
    border-color: var(--error-color);
    color: var(--error-color);
  }
  .terminal .btn-error.btn-ghost:focus,
  .terminal .btn-error.btn-ghost:hover {
    border-color: var(--error-color);
    color: var(--error-color);
    z-index: 2;
  }
  .terminal .btn-primary {
    color: var(--invert-font-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  .terminal .btn-primary:hover,
  .terminal .btn-primary:focus:not(.btn-ghost) {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .terminal .btn-primary.btn-ghost {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
  .terminal .btn-primary.btn-ghost:focus,
  .terminal .btn-primary.btn-ghost:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    z-index: 2;
  }
  .terminal .btn-small {
    padding: 0.5em 1.3em !important;
    font-size: 0.9em !important;
  }
  .terminal .btn-group {
    overflow: auto;
  }
  .terminal .btn-group .btn {
    float: left;
  }
  .terminal .btn-group .btn-ghost:not(:first-child) {
    margin-left: -1px;
  }
  .terminal .terminal-card {
    border: 1px solid var(--secondary-color);
  }
  .terminal .terminal-card > header {
    color: var(--invert-font-color);
    text-align: center;
    background-color: var(--secondary-color);
    padding: 0.5em 0;
  }
  .terminal .terminal-card > div:first-of-type {
    padding: var(--global-space);
  }
  .terminal .terminal-timeline {
    position: relative;
    padding-left: 70px;
  }
  .terminal .terminal-timeline::before {
    content: " ";
    background: var(--secondary-color);
    display: inline-block;
    position: absolute;
    left: 35px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  .terminal .terminal-timeline .terminal-card {
    margin-bottom: 25px;
  }
  .terminal .terminal-timeline .terminal-card::before {
    content: " ";
    background: var(--invert-font-color);
    border: 2px solid var(--secondary-color);
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    left: 26px;
    width: 15px;
    height: 15px;
    z-index: 400;
  }
  .terminal .terminal-alert {
    color: var(--font-color);
    padding: 1em;
    border: 1px solid var(--font-color);
    margin-bottom: var(--global-space);
  }
  .terminal .terminal-alert-error {
    color: var(--error-color);
    border-color: var(--error-color);
  }
  .terminal .terminal-alert-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  @media screen and (max-width: 960px) {
    .terminal label {
      display: block;
      width: 100%;
    }
    .terminal pre::-webkit-scrollbar {
      height: 3px;
    }
  }
  @media screen and (max-width: 480px) {
    .terminal form {
      width: 100%;
    }
  }
  @media only screen and (min-width: 30em) {
    .terminal .terminal-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .terminal .terminal-menu ul {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      justify-items: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-top: calc(var(--global-space) * 2);
    }
    .terminal .terminal-menu li {
      margin: 0;
      margin-right: 2em;
    }
    .terminal .terminal-menu li:last-child {
      margin-right: 0;
    }
  }
  .terminal .terminal-media:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .terminal .terminal-media-left {
    padding-right: var(--global-space);
  }
  .terminal .terminal-media-left,
  .terminal .terminal-media-right {
    display: table-cell;
    vertical-align: top;
  }
  .terminal .terminal-media-right {
    padding-left: var(--global-space);
  }
  .terminal .terminal-media-body {
    display: table-cell;
    vertical-align: top;
  }
  .terminal .terminal-media-heading {
    font-size: 1em;
    font-weight: 700;
  }
  .terminal .terminal-media-content {
    margin-top: 0.3rem;
  }
  .terminal .terminal-placeholder {
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--font-color);
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
  }
  .terminal figure > img {
    padding: 0;
  }
  .terminal .terminal-avatarholder {
    width: calc(var(--global-space) * 5);
    height: calc(var(--global-space) * 5);
  }
  .terminal .terminal-avatarholder img {
    padding: 0;
  }
  .terminal figure {
    margin: 0;
  }
  .terminal figure > figcaption {
    color: var(--secondary-color);
    text-align: center;
  }
  .terminal .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: var(--block-background-color);
    color: var(--font-color);
  }
  .terminal .hljs-comment,
  .terminal .hljs-quote {
    color: var(--secondary-color);
  }
  .terminal .hljs-variable {
    color: var(--font-color);
  }
  .terminal .hljs-keyword,
  .terminal .hljs-selector-tag,
  .terminal .hljs-built_in,
  .terminal .hljs-name,
  .terminal .hljs-tag {
    color: var(--primary-color);
  }
  .terminal .hljs-string,
  .terminal .hljs-title,
  .terminal .hljs-section,
  .terminal .hljs-attribute,
  .terminal .hljs-literal,
  .terminal .hljs-template-tag,
  .terminal .hljs-template-variable,
  .terminal .hljs-type,
  .terminal .hljs-addition {
    color: var(--secondary-color);
  }
  .terminal .hljs-string {
    color: var(--secondary-color);
  }
  .terminal .hljs-deletion,
  .terminal .hljs-selector-attr,
  .terminal .hljs-selector-pseudo,
  .terminal .hljs-meta {
    color: var(--primary-color);
  }
  .terminal .hljs-doctag {
    color: var(--secondary-color);
  }
  .terminal .hljs-attr {
    color: var(--primary-color);
  }
  .terminal .hljs-symbol,
  .terminal .hljs-bullet,
  .terminal .hljs-link {
    color: var(--primary-color);
  }
  .terminal .hljs-emphasis {
    font-style: italic;
  }
  .terminal .hljs-strong {
    font-weight: bold;
  }